@model IEnumerable<Shadow_Arena.BattleSystem.BattleCharacter>

@{
    ViewData["Title"] = "Home";
    Layout = "_GameLayout";
}

<table class="table">
    <thead>
        <tr>
            <th>Character Name</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>Magic Attack</th>
            <th>Magic Defense</th>
            <th>Vitality</th>
            <th>Intelligence</th>
            <th>HP</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CharName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stats.Attack)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stats.Defense)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stats.MagicAttack)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stats.MagicDefence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stats.Vitality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stats.Intelligence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HP)
                </td>
                <td>
                    <a asp-action="Fight" asp-route-id="@item.CharacterId">Fight!</a>
                </td>
            </tr>
        }
    </tbody>
</table>
